[Unit]
Description=Retrieves and sets random wallpapers from a specified url list
Documentation=https://github.com/brandonio21/wallepy

[Service]
Type=simple
ExecStart=/usr/bin/walle.py
